@import "../css/normalize.css";

// Import des polices
@font-face {
  font-family: "Title";
  src: url('../assets/fonts/SuperFlyTwo.otf') format('truetype');
 }
 @font-face {
  font-family: "Text";
  src: url('../assets/fonts/gothamBook.woff2') format("woff2"),
        url('../assets/fonts/gothamBook.woff') format("woff");
 }
 @font-face {
  font-family: "TextBold";
  src: url('../assets/fonts/gothamBold.woff2') format("woff2"),
        url('../assets/fonts/gothamBold.woff') format("woff");
 }
 @font-face {
  font-family: "Logo";
  src: url('../assets/fonts/moonstruck-webfont.woff2') format("woff2"),
        url('../assets/fonts/moonstruck-webfont.woff') format("woff");
 }

// Couleur
$black: #030303;
$bluePSA: #50dec9;
$darkGrey: #cfcecd;
$grey: #f0f0f0;
$white: #fefefe;
$homeGrey: #efefef;

// CSS Generale
html{
  min-height: 100vh;
  width: 100vw;
}

h1 {
   font-family: Title;
   font-size: 3rem;
 }

 p{
   font-family: Text;
   position: relative;
 }